
html,body{
    height: 100%;
}
body{
    
    background: linear-gradient(to bottom,#FF65B3,#FEBE80);    
    
}
h2{
    color: #fff;
}

.n1{
    display: flex;
    justify-content: space-evenly;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 50px;
    list-style: none;    

}
nav a{
    color: #fff;
    text-decoration: none;

}
.red{
    filter: invert(1);
    
}

.face{
    margin: 15px;
}
.cono_fondo{
    width: 400px;
    height: 400px;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: rotate(300deg);
    filter: invert(1);
    opacity: 50%;
    margin-top: 0px;
    margin: 0;
    
}
.conos_fondo{
    position: fixed;    
    bottom: 0;
    left: 0;
    margin: 0;
    width: 800px; 
    height: auto; 
    margin: 0; 
}

.sabor_choco {
    display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .boton{
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }